/* https://sobhysameh85-dev.github.io/protofolio/ */
/* خطوط روبوتو - نسق خفيف */
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #2c3e50;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero h1 { font-size: 2.5rem; margin-bottom: 10px; }

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #e67e22;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

/* Cards Section */
.container {
    padding: 50px 10%;
}

.cards-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover { transform: translateY(-10px); }

.card .icon { font-size: 50px; margin-bottom: 15px; }

.science { border-top: 5px solid #27ae60; } /* الأخضر للعلوم */
.social { border-top: 5px solid #2980b9; }  /* الأزرق للدراسات */

.more {
    display: inline-block;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background: #2c3e50;
    color: white;
    margin-top: 50px;
}




      